

#home {
    background-image: url("time.jpg");

}
#head {
    width: 800px;
    height:auto;
    background-color: rgba(166, 161, 199, 0.2);
    padding: 15px 10px 15px 10px;
    margin-right: 300px;
    margin-left: 300px;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: #8c8a8a;
}

#clock-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: auto;
    width: auto;

}

#clock {
    border: 5px black solid;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    color:aliceblue;
    backdrop-filter: blur(5px);
    background-color:cornflowerblue;
}

#stone {
    background-image: url("stone.jpg");
}

#ancient {
    background-image: url("ancient.jpg");
}

#medieval {
    background-image: url("medieval.jpg");
}

#modern {
    background-image: url("modern_.jpg");
}

#future {
    background-image: url("future.jpg");
}
_____________________________________________________________________________________________________________________________________________________________________

video {
    width: 100%;       /* full screen width */
    height: auto;      /* keep aspect ratio */
    display: block;
    margin: 10px;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: rgb(160, 107, 210);
    color: black;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s ease;
}

button:hover {
    background-color: rgb(132, 0, 255);
    transform: scale(1.1);
}
/*    font-family: Georgia, 'Times New Roman', Times, serif; */
    
